# .NET build directories
bin/
obj/

# Debug/Release binary files
*.dll
*.exe
*.pdb
*.json

# .NET Core temporary files
*.cache
*.lock.json
project.assets.json
project.nuget.cache
*.deps.json
*.runtimeconfig.json

# User-specific files
*.user
*.suo

# VS Code settings
.vscode/

# Visual Studio for Mac
.vs/

# JetBrains Rider config
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
